* text=auto
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.json text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.props text eol=lf
*.rc text eol=lf
*.svg text eol=lf
*.xml text eol=lf
*.yml text eol=lf
third_party/** -whitespace
